li{
	
	list-style: none;
	display:inline-block;
	font-size:120%;
	text-align: right;
}
body{
	background-image: url(wp2919299.jpg);
	background-size: cover;
	}

h2{
	text-align: center;
	font-family:arial;
	color:blue;
}
h3{
	text-align: center;
	color:pink;
	background-color: white;
}
form{
	text-align: center;
}
